# Python virtual environments
.venv/
venv/
env/

# Python bytecode/cache
__pycache__/
*.py[cod]

# Build artifacts
build/
dist/
*.spec

# Logs
*.log

# Application data
.data/
.data_tmp/

# Packaging metadata
*.egg-info/
.eggs/
pip-wheel-metadata/
tests/results/
